.course-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.course-full-width {
    width: 100%;
}

.h1{
    text-align: center !important;
    margin: 0 !important;
    margin-bottom: 26px !important;
}