<div class="student">
  <mat-toolbar>
    <button mat-button (click)="openDialog()" color="primary">
      <mat-icon class="example-icon">add_circle</mat-icon>
    </button>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="rollNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Roll No </th>
        <td mat-cell *matCellDef="let element"> {{element.rollNo}} </td>
    </ng-container>
    <ng-container matColumnDef="enrollmentNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrollment No </th>
        <td mat-cell *matCellDef="let element"> {{element.enrollmentNo}} </td>
    </ng-container>
    <ng-container matColumnDef="studentWithCourses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Courses </th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let courses of element.studentWithCourses">
            {{courses.name}} 
          </li>
        </ul>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary">
          <mat-icon class="example-icon" (click)="edit(element)">edit</mat-icon>
        </button>
        <button mat-button color="warn">
          <mat-icon class="example-icon" (click)="delete(element.id)">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>