.col-5{
    width: 45%;
    float: left;
    text-align: center;
}

.col-2{
    width: 10%;
    float: left;
    text-align: center;
}

.clear{
    clear: both;
    margin: 0;
    padding: 0;
}

.mt-3{
    margin-top: 6px;
}

select{
    min-height: 90px;
    min-width: 96%;
}
